*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#detail{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/eventdetailbg");   
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 350px;
    width: auto;
    text-align: center;
}

.main-text h1 {
    color: white;
    font-size: 72px;
}

.main-text p {
    font-size: 25px;
    color: #dfdfdf;
}

.content {
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
}

/* Navbar */

.logo img{
    position: relative;
    left: auto;
	width:auto;
	height: 55px;
}

.bg-dark {
    padding: 15px 30px;
    transition: 500ms ease;
    font-family:  system-ui;
    background-color: transparent !important;
}
.navbar-light .navbar-brand  {
    color: white;
    font-size: 25px;
}
.navbar-light .navbar-brand:hover{
    color: white;
}


.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
color: rgb(255 255 255 / 90%);
padding: 0px 30px;
font-size: 18px;
}

.navbar-light .navbar-nav .nav-link:focus {
    color:white;
    outline: none;
}

.navbar-light .navbar-nav .nav-link.active{
    border-bottom: solid 3px #019fb6; 
    color: white;
   
}
.navbar-light .navbar-nav .nav-link:hover{
    color: white;
}

.navbar-light .navbar-nav .nav-link:after {
    display:block;
    padding-bottom: 8px;
    content: '';
    border-bottom: solid 3px #019fb6;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
  }
  .navbar-light .navbar-nav .nav-link:hover:after 
  { 
      transform: scaleX(1); 
    }

.navbar-collapse {
    margin-left: 300px;
}

.bg-dark.scrolled {  
    background-image: -webkit-linear-gradient(left, #1b48aa 0%, #59b6d3 50%, #2868b1 100%);
    background-image: -o-linear-gradient(left, #285fb1 0%, #45bbd8 50%, #287fb1 100%);
    background-image: linear-gradient(to right, #285fb1 0%, #2298b6 50%, #5cb8f6 100%);
    transition: background-color 500ms linear;
} 


.button{
    background: rgb(58,89,180);
    background: linear-gradient(90deg, rgba(58,89,180,1) 22%, rgba(69,156,252,1) 82%, rgba(29,233,253,1) 100%);
    border-radius: 40px;	
	padding: 8px 15px;
	color: rgb(255, 255, 255);
	text-decoration: none; 
	bottom: 2px ;   
    transition:0.5s;
}

.button:hover{
    background: rgb(29,233,253);
    background: linear-gradient(90deg, rgba(29,233,253,1) 0%, rgba(69,156,252,1) 14%, rgba(58,89,180,1) 82%);
    color: rgb(255, 255, 255);
    box-shadow: 0 0 15px rgb(0, 0, 0);
	
}


@media only screen and (max-width: 1196px)
{
    .navbar-collapse {
        margin-left: 100px;
    }
}
@media only screen and (max-width: 992px) {
    .bg-dark{
        background-image: -webkit-linear-gradient(left, #1b48aa 0%, #59b6d3 50%, #2868b1 100%);
        background-image: -o-linear-gradient(left, #285fb1 0%, #45bbd8 50%, #287fb1 100%);
        background-image: linear-gradient(to right, #285fb1 0%, #2298b6 50%, #5cb8f6 100%);
    }
    .navbar-collapse {
        margin-left: 0px;
    }
}

/* Navbar ends */

/* event details */
    
.register{
    background: rgb(58,89,180);
    background: linear-gradient(90deg, rgba(58,89,180,1) 22%, rgba(69,156,252,1) 82%, rgba(29,233,253,1) 100%);
    border-radius: 6px;	
	padding: 8px 150px;
	color: rgb(255, 255, 255);
	text-decoration: none; 
	bottom: 2px ;   
    transition:0.5s;
}

.register:hover{
    background: rgb(29,233,253);
    background: linear-gradient(90deg, rgba(29,233,253,1) 0%, rgba(69,156,252,1) 14%, rgba(58,89,180,1) 82%);
    color: rgb(255, 255, 255);
    box-shadow: 0 0 15px rgb(0, 0, 0);
}

.banner{
    height: 150px;
}

/* event details end */