
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    margin: 0;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(/images/loginbg.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
    overflow-x: hidden;
    padding-top: 80px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html {
    scroll-behavior: smooth;
}

.quote{
    position: absolute;
    left: 10%;
    top: 20%;
}

.quote p{
    color: white;
    font-size: 40px;
}

.login {
    background: rgba(168, 195, 207, 0.733);
    color: rgb(0, 0, 0);
    border-radius: 20px;
    padding: 50px ;
    box-shadow: 0 0 10px rgba(158, 236, 255, 0.904);

}

.login h1 {
    font-size: 38px;
    color: white;
    text-shadow: 3px 3px 3px #aedae9;
    margin-bottom: 40px;
}

.login p {
    font-size: 17px;
    letter-spacing: 1px;
}

.btn{
    background-color: rgba(228, 224, 24, 0.952);
    border-radius: 15px;
	border: 2px solid rgb(224, 255, 88);
	padding:11px 32px;
	color: rgb(7, 16, 138);
	text-decoration: none; 
}	

.btn:hover{
	background-color:  rgb(235, 220, 12);
    color: rgb(7, 16, 138);
    box-shadow: 0 0 6px rgb(245, 248, 56);
	transition: 0.3s ease;
}

.form__group input {
    background: transparent;
    outline: none;
    color: white;
    padding: 9px 15px;
    margin: 10px;
    text-align: initial;
    border: 1px solid #ebe84a;
}

@media only screen and (min-width: 600px) {

    .main-content {
        position: absolute;
        top: 50%;
        left: 93%;
        transform: translate(-50%, -50%);
    }
}

@media only screen and (max-width: 576px) {
    body {
        padding-top: 10px;
    }
}

::-webkit-input-placeholder { /* Edge */
    color: white;
  }