body {
    /* background-image: url(/images/bg1.jpg); */
	height: 100vh;
	background-size: cover;
	background-position: center;
}

.main{
    margin-left: 20%;
    margin-right: 20%;
    border: 1px black;
    padding: 30px;
}

.table_applicant{
   
    color: rgb(0, 0, 0);
}

.table_applicant, tr, th, td{
    padding: 5px 10px;
    text-align: center;
    border: 2px solid black;
    border-collapse: collapse;
}

