* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.new-section {
    padding: 60px 0px;
}

p {
    color: #767676;
    font-size: 17px;
}


.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/homepage\ ipr\ 2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
    width: auto;
    color: #fff;
}


.main-text h1 {
    color: white;
    font-size: 72px;
}

.main-text p {
    font-size: 25px;
    color: #dfdfdf;
}

.main-text a {
    color: #fff;
}

.model {
    width: 800px;
}

.content {
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.btn-home {
    color: white;
    background-color: #ff214f;
    padding: 8px 30px;
    font-weight: 600;
    font-size: 18px;
    border-radius: 30px;
}

.btn-home:hover {
    color: white;
    background-color: #ff214f;
}

.btn-second {
    margin-left: 5px;
    border-bottom: solid 2px white;
}

.youtube-btn {
    border-radius: 50%;
    position: absolute;
    left: 50%;
    bottom: 15%;
    transform: translate(-50%, -5%);
    animation: ripple 1.4s alternate infinite;

}


@keyframes ripple {
    0% {
        box-shadow: 0 0 0 .1rem rgba(197, 197, 197, 0.185),
            0 0 0 0.3rem rgba(173, 173, 173, 0.171),
            0 0 0 1rem rgba(158, 158, 158, 0.205);
    }

    100% {
        box-shadow: 0 0 0 0.1rem rgba(121, 121, 121, 0.137),
            0 0 0 1rem rgba(163, 163, 163, 0.11),
            0 0 0 3rem rgba(190, 190, 190, 0.062);
    }
}


.down-arrow {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, -50%);
}

.heading {
    padding-bottom: 40px;

}
.heading h1{
    color: #4b4b4b;
    text-transform: uppercase ;
}

.roles-red {
    color: #ff214f;
    font-size: 17px;
    margin-bottom: 0px;
}

.rolls-icon {
    border-right: 1px solid #ff214f;
    height: 22px;
}

.rolls-content p {
    color: #767676;
    font-size: 17px;
}

#about {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/carousel_2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    height: 70vh;
    width: auto;
    color: #fff;
}

.about-content {
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}

.about-content h4 {
    font-size: 46px;
}

.about-content p {
    color: #d6d5d5;
    font-size: 22px;
}

/* testimonials */
.testimonial-img {
    height: 100px;
    width: 100px !important;
    border-radius: 50%;
    margin: 0 auto;
}

.testimonial-symbol {
    height: 30px;
    width: auto !important;
    margin: 0 auto;
}

.testimonial-name {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: -3px;

}

.trestimonial-designition {
    text-transform: uppercase;
    font-size: 17px;

}

.testim {
    padding: 20px;
    margin: 0px 5px;

}


/* .testim-1 p {
    color: #dfdfdf;
} 
 .testim-1 {
    background-color: #ff6080;
}

.testim-2 {
    background-color: #ace2ff;
}

.testim-3 {
    background-color: #ffffdc;
} */


.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ff214dd7;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.team-member:hover .overlay {
    height: 100%;
}

.text p {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.team-name {
    text-transform: uppercase;
}

.team-member {
    position: relative;
}

.red-line {
    color: #ff0035;
}

.social-team a {
    padding: 8px;
}

.fab-facebook {
    color: #2867ee;
}

.fab-instagram {
    color: #8a3ab9;
}

.fab-linkedin {
    color: #0e76a8;
}

.fab-envelope {
    color: #6c6c6c;
}


.team-translate {
    margin-top: 30px;
}

.team-translate .social-team {
    transform: translateY(-170px);
    opacity: 0;
    transition: transform ease-in-out 500ms;
}

.team-translate:hover .social-team {
    transform: translateY(0px);
    opacity: 1;
}
/* team section ends */

/* event */

.posts {
    box-shadow: 0px 10px 20px 4px #00000015;
    margin-bottom: 30px;
    
    background-color: white;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;

}

.blog-inner {
    margin-top: 25px;
    padding: 0px 20px;
    padding-bottom: 30px;
}

.posts a {
    text-decoration: none;
}

.posts h2 {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 600;
}

.posts h2 a {
    color: #727275;

}

.event_date {
    background-color: #eaeaf0;
    color: black;
    padding: 10px 6px;
    margin-left: 1px;
}

/* event section ends */

/* News */
#news{
    background-color: #f7f7f7 ;
}
#events{
    background-color: #f7f7f7 ;
}
.blogs{
    background-color: white;
}
.blogs a{
    text-decoration: none;
    font-size: 24px;
    color: #727275;
    font-weight: 600;
}
.blogs a:hover{
    color: #ff0035;
}
.blogs hr{
    color: #4b4b4b;
}
.blogs .blog-date{
    font-size: 14px;
}
/* News ends */


/* footer */
footer{
    padding: 80px 0px 20px;
    background-image: url(../images/footer_bg);
    background-size: cover;
	background-position: center;
}

footer p{
    color: rgb(204, 193, 193);
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif
}

footer h2{
    color: rgb(223, 215, 215);
    font-size: 22px;
    font-weight: 600;
}
footer p{
    color: white;
}
footer i{
    font-size: 24px;
    margin-left: 8px;
}
/* footer ends */

/* container */
.container{
    color: white;
}

.form-control{
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
}

::-webkit-input-placeholder { /* Edge */
    color: white;
  }
  
/* container ends */

/* button */

.btnp{
    background-color: rgb(26, 168, 187);
    border-radius: 5px;
	border: 2px solid rgb(53, 148, 177);
	padding:5px 10px;
	color: rgb(255, 255, 255);
	text-decoration: none; 
	bottom: 2px ;   
}	

.btnp:hover{
	background-color:  rgb(59, 155, 170);
    color: rgb(255, 255, 255);
    box-shadow: 0 0 6px rgb(255, 255, 255);
	transition: 0.3s ease;
}
/* media query */

@media only screen and (max-width: 600px) {
    .content {
        top: 40%;
    }

    .youtube-btn {
        bottom: 8%;
    }

    .down-arrow {
        display: none;
    }

    .model {
        width: 0;

    }

    .rolls-icon {

        height: 50px;
    }

    #about {
        height: 100vh;
    }

    .about-content {
        align-items: center;


    }

    .about-content h4 {
        font-size: 40px;
    }

    .about-content p {
        font-size: 18px;
    }

    .about-icon {
        margin-top: 10px;
    }
}